  /* #usersTable {
      display: flex;
      justify-content: center;
  } */
  section {
      display: flex;
      /* flex-direction: column; */
      justify-content: space-around;
  }

  table {
      border-collapse: collapse;
      min-width: 100px;
      background-color: #f9f9f9;
      align-items: center;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  img {
    width: 128px;
    height: 128px;
  }

  input {
    max-width: 128px;
  }

  th,
  td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
      max-width: 150px;
     height: auto;
  }

  thead {
      background-color: #f2f2f2;
  }

  .otstup {
      height: 100px;
  }

  button {
      border-radius: 3px;
  }

  .delete_button {
      background-color: red;
  }

  .add_button {
      background-color: #00FF00;
  }

  .change_button {
      background-color: #ffff00;
  }

  .cancel_button {
      background-color: #bbb9b9;
  }