  /* #usersTable {
      display: flex;
      justify-content: center;
  } */
  section {
      display: flex;
      /* flex-direction: column; */
      justify-content: space-around;
  }

  table {
      border-collapse: collapse;
      min-width: 100px;
      background-color: #f9f9f9;
      align-items: center;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  th,
  td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
  }

  thead {
      background-color: #f2f2f2;
  }

  .otstup {
      height: 100px;
  }
  button {
    border-radius: 3px;
  }
  .delete_button {
    background-color: red;
  }
  .add_button {
    background-color: #00FF00;
  }
